<div class="tw-w-full tw-flex tw-justify-between tw-items-center tw-mb-8">
    <p class="tw-text-gray-700 tw-font-semibold tw-flex-1 tw-text-sm">
        <span class="tw-text-white">Home /</span> Shop
    </p>
    <p class="tw-text-gray-700 tw-font-bold tw-flex-1 tw-text-4xl tw-text-center">Shop</p>
    <div class="tw-flex tw-items-center tw-flex-1 tw-justify-end">
        <p class="tw-text-gray-700 tw-font-semibold tw-text-sm">
            Showing 1-12 of 36 results
        </p>
        <div class="tw-rounded-lg tw-px-2 tw-py-1 tw-ml-4 tw-flex tw-items-center tw-space-x-2" style="background: #fed890;">
            <p class="tw-text-sm tw-font-semibold">Default sorting &#8964;</p>
        </div>
    </div>
</div>
<div class="tw-w-full tw-mx-auto tw-grid tw-grid-cols-3 tw-gap-8" *ngIf="(products$ | async) as products">
    <app-product
        *ngFor="let item of products"
        [product]="item"
    ></app-product>
</div>