<nb-layout>
    <nb-layout-header class="tw-bg-transparent">
        <div class="tw-w-full tw-flex tw-justify-between tw-items-center max-content-width">
            <div class="tw-flex-1">
                <img src="./assets/logo.png" class="tw-h-10" />
            </div>
            <div class="tw-flex-1 tw-flex tw-justify-end tw-items-center tw-space-x-4" *ngIf="(isAuthenticated$ | async); else loginEl">
                <button class="tw-h-10 tw-w-10 tw-flex tw-items-center tw-justify-center tw-border-white tw-border-2 tw-rounded-full" (click)="logout()">
                    <nb-icon icon="log-out-outline"></nb-icon>
                </button>
            </div>
            <ng-template #loginEl>
                <div class="tw-flex-1 tw-flex tw-justify-end tw-items-center tw-space-x-4">
                    <button class="tw-h-10 tw-w-10 tw-flex tw-items-center tw-justify-center tw-border-white tw-border-2 tw-rounded-full" (click)="login()">
                        <nb-icon icon="log-in-outline"></nb-icon>
                    </button>
                </div>
            </ng-template>
        </div>
    </nb-layout-header>

    <nb-layout-column>
        <div class="max-content-width">
            <div class="tw-flex tw-flex-col tw-space-y-4" *ngIf="(isAuthenticated$ | async); else noLoggedInEl">
                <p class="tw-text-center tw-w-full" *ngIf="!carts.length">No carts</p>
                <div class="tw-w-full tw-bg-white tw-shadow-md tw-rounded-lg tw-p-5" *ngFor="let cart of carts">
                    <div class="tw-flex tw-items-center tw-justify-between tw-mb-4">
                        <p class="tw-font-bold">Cart ID: {{ cart.userId }}</p>
                        <div class="tw-flex tw-items-center">
                            <p class="tw-font-bold tw-mr-4">Total: {{ cart.total | currency:'GBP' }}</p>
                            <button (click)="deleteCart(cart)">
                                <nb-icon icon="trash" status="danger"></nb-icon>
                            </button>
                        </div>
                    </div>
                    <div class="tw-w-full tw-flex tw-items-center tw-space-x-4" *ngFor="let item of cart.items; last as isLast" [class.mb-2]="!isLast">
                        <p class="tw-flex-1">{{ item.name }}</p>
                        <div class="tw-rounded-full tw-flex tw-items-center tw-border">
                            <button type="button" class="tw-py-1 tw-px-2" (click)="change(cart, item, -1)">
                                <nb-icon icon="minus" class="tw-text-sm"></nb-icon>
                            </button>
                            <p class="tw-px-2 tw-text-sm">{{ item.qty }}</p>
                            <button type="button" class="tw-py-1 tw-px-2" (click)="change(cart, item, 1)">
                                <nb-icon icon="plus" class="tw-text-sm"></nb-icon>
                            </button>
                        </div>
                        <p class="tw-text-sm tw-text-gray-400">{{ item.price | currency:'GBP' }}</p>
                    </div>
                </div>
            </div>
            <ng-template #noLoggedInEl>
                <p class="tw-text-center">Login to view carts</p>
            </ng-template>
        </div>
    </nb-layout-column>

</nb-layout>