<nb-layout>
    <nb-layout-header fixed class="tw-shadow-lg">
        <div class="tw-w-full tw-flex tw-justify-end">
            <button nbButton ghost (click)="toggle()">
                <nb-icon icon="shopping-cart-outline"></nb-icon>
            </button>
        </div>
    </nb-layout-header>
    
    <nb-sidebar fixed right class="tw-shadow-lg">
        <p class="tw-text-xl tw-font-medium tw-mb-5">Your Cart</p>
        <app-product [horizontal]="true"></app-product>
    </nb-sidebar>
    
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>
